<div class="container">
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <span class="navbar-brand">Alarmes</span>
    </div>
  </nav>
  <div class="row">
    <form action="/login" method="post">
      <h2>Login</h2>
      <div class="input-field">
        <input type="text" name="username" id="username" placeholder="Enter Username">
      </div>
      <div class="input-field">
        <input type="password" name="password" id="password" placeholder="Enter Password">
      </div>
      <input type="submit" id="button" value="Login">
    </form>
  </div>
</div>
